table {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(56, 52, 52);

}

table,
tr,
th,
td {
    border-collapse: collapse;
    text-align: center;
}
tr{
    border: 1px solid rgb(202, 189, 189);
}
th {
    height: 50px;
    color: rgb(211, 205, 205);
    font-weight: 700;
    font-size: 16px;
}

td {
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    color: rgb(105, 101, 101);
    border-inline: 1px solid rgb(202, 189, 189);
}

.residents {
    width: 97%;
    height: 75%;
    border: 1px solid rgb(202, 189, 189);
    border-radius: 10px;
    overflow: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

button {
    width: 60px;
    height: 30px;
    border: none;
    border-inline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: 700;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}

.resaddandsearch {
    width: 100%;
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
}

.resadd {
    background-color: rgb(45, 165, 165);
    width: 100px;
    height: 40px;
}
.addbox{
    display: flex;
    gap: 15px;

    align-items: center;
}
.resdownload {
    background-color: rgb(45, 165, 165);
    width: 100px;
    height: 40px;
}

#resedit {
    background-color: rgb(45, 165, 165);
}

#ressearch {
    background-color: rgb(45, 165, 165);
}

#resarchive {
    background-color: rgb(204, 30, 30);
}

select{

    width: 100px;
    height: 40px;
    font-size: 16px;
    color: white;
    font-weight:700 ;
    background-color: rgb(45, 165, 165);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.resident{
    margin-top: 4%;
    margin-left: 18%;
    position: absolute;
        width: 82%;
        height: 91.2%;
    background-color: rgb(105, 101, 101, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.residentadd{
    width: 80%;
    height: 80%;
display: flex;
    background-color: white;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
}
 .leftinfo, .rightinfo{
    width: 50%;
    height: 100%;
}
.leftinfo{
border: 2px solid gray;
border-right: .5px solid gray;
}
.rightinfo{
    border: 2px solid gray;
    border-left: 0.5px solid gray;
}
.personalinfo .header h4{
padding-top: 20px;
font-size: 18px;
padding-left: 20px;
}
.inputinfo{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.personinfo{
    width: 140px;
    height: 30px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid gray;
    text-indent: 10px;
}
.address{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.cont{
    width: 140px;
    height: 30px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid gray;
    text-indent: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cellno{
    margin-top:20px;
    margin-left: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid gray;
    text-indent: 10px;

}
.sexchoice{
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inputgender{
    width: 20px;
}
label{
    font-weight: 700;
}
.birthdaybox{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.brtdy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.personalstatus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.status{
    margin-top: 20px;
    margin-left: 20px;
}
.conditionstatus, .civiltatus, .voterstatus{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.resbtn{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
  width: 40%;
  height: 30px;
  background-color: rgb(45, 165, 165);
}